$transition-duration: 0.4s;
$transition--in: $transition-duration ease-in;
$transition--out: $transition-duration ease-out;

$gradient-bg-effect-jet: linear-gradient(hsl(var(--jet)), hsl(var(--jet))) padding-box;
$gradient-bg-effect-night: linear-gradient(hsl(var(--night)), hsl(var(--night))) padding-box;
$gradient-bg-effect-main: var(--main-gradient) border-box;
$gradient-bg-effect-main-reverse: var(--main-gradient-reverse) border-box;

// Styles for the copy/paste areas
.cc-area {
    position: relative;
    background-color: hsl(var(--darkgrey));
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 666px;
    margin-bottom: 1rem;
    box-shadow: 0 0 25px 0 hsl(var(--black), 0);
    transform: scale(1);
    transition: box-shadow $transition--out;

    &--dragging {
        box-shadow: 0 0 25px 0 hsl(var(--black), .5);
        max-width: 700px;
        z-index: 2;
    }

    &__content {
        width: 100%;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        font-size: 0.8rem;
        color: hsl(var(--white));
        margin-bottom: 0.5rem;

        &-skeleton {
            background: var(--main-gradient);
            height: 20px;
            width: 100px;
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }
    }

    &__reorder-handle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        cursor: grab;
        width: 25px;
        color: hsl(var(--white), 0.222);
    }

    &__textbox {
        appearance: none;
        border: 3px solid transparent;
        border-radius: 10px;
        background:
            $gradient-bg-effect-jet,
            $gradient-bg-effect-main;
        width: 100%;
        min-height: 100px;
        height: auto;
        outline: none;
        font-size: 1rem;
        padding: 1rem;
        line-height: 1.5;
        transition: border $transition--out;
        margin-bottom: 1rem;
        resize: none;
        overflow: hidden;

        &:active,
        &:hover {
            border: 5px solid transparent;
            background:
                $gradient-bg-effect-jet,
                $gradient-bg-effect-main-reverse;
        }

        &--copy {
            cursor: pointer;
            transition: opacity $transition--out;
            border: 3px solid transparent;
            border-radius: 10px;
            background:
                $gradient-bg-effect-night,
                $gradient-bg-effect-main;

            &:hover {
                transition: opacity $transition--in;
                border: 5px solid transparent;
                background:
                    $gradient-bg-effect-night,
                    $gradient-bg-effect-main-reverse;
            }
        }
    }

    &__controls {
        position: relative;
        width: 100%;
        max-width: 666px;
        display: flex;
        justify-content: space-between;

        &--clear {
            color: white;
            appearance: none;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 5px;
            transition: background $transition--out;
            background: var(--main-gradient);

            &:hover {
                background: var(--main-gradient-reverse);
                transition: background $transition--in;
                cursor: pointer;
            }
        }
    }

    &__close-button {
        position: absolute;
        right: 0;
        background-color: transparent;
        color: hsl(var(--white));
        border: none;
        border-radius: 5px;
        font-size: 0.6rem;
        padding: 2px;
        margin: 0;
        cursor: pointer;
        transition: background-color $transition--out;

        &:hover,
        &:focus {
            background-color: hsl(var(--red));
        }
        &:active {
            background-color: hsl(var(--red));
        }
    }

    &__toast {
        font-size: 0.8rem;
        opacity: 0;
        position: absolute;
        transition: opacity $transition--out;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: hsl(var(--white));
        color: hsl(var(--black));
        border-radius: 5px;
        padding: 5px;

        &.visible {
            opacity: 1;
        }

        &--error {
            background-color: hsl(var(--red));
            color: hsl(var(--white));
        }
    }

    &--skeleton {
        border: none;
        opacity: 0.5;
        transition:
            opacity $transition--out,
            filter $transition--out;
        filter: saturate(0);
        cursor: pointer;

        .cc-area__textbox {
            border: 3px solid transparent;
            background:
                $gradient-bg-effect-jet,
                $gradient-bg-effect-main;
            position: relative;
            height: 105px;
        }

        .cc-area__controls--clear {
            background: var(--main-gradient);
            cursor: default;
            pointer-events: none;

            span {
                opacity: 0;
            }
        }
        .cc-area__controls--editSkeleton {
            background: var(--main-gradient);
            height: 27.5px;
            width: 70px;
            border-radius: 5px;
        }

        .cc-area--title__skeleton {
            background: var(--main-gradient);
            height: 20px;
            width: 100px;
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }

        .cc-area__close-button {
            background: var(--main-gradient);
            span {
                opacity: 0;
            }
        }

        &:hover {
            opacity: 1;
            filter: saturate(1);
            transition:
                filter $transition--in,
                opacity $transition--in;
        }
    }

    &__plus-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill:white;
        opacity: 0.5;
        transition: opacity $transition--out;

        .cc-area--skeleton:hover & {
            opacity: 1;
            transition: opacity $transition--in;
        }
    }

    [type='checkbox'] {
        margin-right: 0.5rem;
    }
}
