// Color variables
:root {
    /* color values in HSL format */
    --white: 0, 0%, 0%;
    --black: 0, 0%, 100%;
    --night: 0, 0%, 93%;
    --darkgrey: 0, 0%, 80%;
    --jet: 120, 1%, 70%;
    --grey: 0, 0%, 67%;

    --pink: 320, 81%, 60%;
    --red: 345, 100%, 50%;

    --main-gradient: linear-gradient(
        45deg,
        hsl(var(--pink)) 0%,
        hsl(var(--red)) 100%
    );
    --main-gradient-reverse: linear-gradient(
        135deg,
        hsl(var(--pink)) 0%,
        hsl(var(--red)) 100%
    );
    --faux-gradient: linear-gradient(
        45deg,
        hsl(var(--grey)) 0%,
        hsl(var(--grey)) 100%
    );
}

// Dark mode variables
.darkmode {
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;
    --night: 0, 0%, 7%;
    --darkgrey: 0, 0%, 13%;
    --jet: 120, 1%, 17%;
    --grey: 0, 0%, 33%;

    --pink: 320, 81%, 60%;
    --red: 345, 100%, 50%;
}
