:root {
    /* color values */
    --white: white;
    --black: black;

    --night: #141514;
    --jet: #2a2b2a;
    --eggplant: #5e4955;
    --violet: #996888;
    --timberwolf: #ddd5d0;
    --ashgray: #b8b8aa;
}

.darkmode {
    --white: black;
    --black: white;

    --night: #141514;
    --jet: #2a2b2a;
    --eggplant: #5e4955;
    --violet: #996888;
    --timberwolf: #ddd5d0;
    --ashgray: #b8b8aa;
}

* {
    color: var(--timberwolf);
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    background-color: var(--night);
}

.site-wrapper {
    background-color: var(--night);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.pastearea {
    // display: none;
    appearance: none;
    background-color: var(--jet);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #5e4955;
    width: 100%;
    max-width: 666px;
    min-height: 1rem;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.5;
    transition: border-color 0.3s ease;
    margin-bottom: 1rem;
}

.pastearea:focus {
    border-color: #996888;
}

.copybox {
    cursor: pointer;
    transition: all 0.2s;
}

.copybox:hover {
    border: 3px solid var(--violet);
}

.copy-area-control-button-wrapper {
    width: 100%;
    max-width: 666px;
    display: flex;
    justify-content: space-between;
}

.copy-area-control-button-wrapper button {
    color: var(--jet);
    appearance: none;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--violet);
    transition: background-color 0.3s ease;
}

.copy-area-control-button-wrapper button:hover {
    background-color: var(--eggplant);
    cursor: pointer;
}

.copy-feedback {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.copy-feedback.copied {
    opacity: 1;
}

.copy-area-wrapper {
    position: relative;
    background-color: #202020;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 666px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    animation: fadeIn 0.3s forwards;

    .close-button {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        background-color: var(--violet);
        color: var(--jet);
        border: none;
        border-radius: 10px;
        line-height: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--eggplant);
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.add-item-button {
    background-color: var(--violet);
    color: var(--jet);
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: all 0.3s ease;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    z-index: 1000;

    div {
        opacity: 0;
        position: absolute;
        left: calc(100% + 10px);
        top: 12px;
        width: 80px;
        background-color: var(--jet);
        padding: 5px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -7px; // Position to left side of tooltip
            transform: translateY(-50%); // Center vertically
            border-style: solid;
            border-width: 6px 7px 6px 0; // Create a right-pointing triangle
            border-color: transparent var(--jet) transparent transparent; // Only show right edge
        }
    }

    &::before,
    &::after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 4px;
        background-color: var(--night);
        border-radius: 5px;
        position: absolute;
        left: 10px;
        top: 23px;
    }

    &::before {
        transform: rotate(90deg);
    }

    &:hover {
        transform: scale(1.1);
    }

    &:hover div {
        opacity: 1;
    }

    &:active {
        transform: scale(0.9);
    }
}

[id*='editmode-'] {
    margin-right: 10px;
}

header {
    min-height: 140px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
